<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.itshop">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NoBarAppTheme"
        tools:targetApi="q">
        <activity android:name=".CancelReturnReplace"></activity>
        <activity android:name=".OrderDetailStatus" />
        <activity android:name=".OrderPaymentStatus"></activity>
        <activity android:name=".OrderDetails" />
        <activity android:name=".MyWishlist" />
        <activity android:name=".Addresses" />
        <activity android:name=".MyCart" />
        <activity android:name=".MyAccount">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".Fragments.MyOrders">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".ViewImage" />
        <activity android:name=".ItemDetail" />
        <activity android:name=".ViewItems" />
        <activity android:name=".Fragments.Categories" />
        <activity android:name=".Fragments.Notifications" />
        <activity android:name=".Fragments.Help" />
        <activity android:name=".SetupProfile" />
        <activity
            android:name=".Home"
            android:theme="@style/NoBarAppTheme" />
        <activity android:name=".PhoneVerification" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_6gqCAmSMnS7C1R" />
    </application>

</manifest>